In [21]:
!pip install truth-table-generator

Requirement already satisfied: truth-table-generator in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (1.1.2)
Requirement already satisfied: jinja2 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (2.11.2)
Requirement already satisfied: numpy in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (1.19.4)
Requirement already satisfied: pyparsing in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (2.4.7)
Requirement already satisfied: tabulate in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: pandas in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (1.2.3)
Requirement already satisfied: PTable in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from truth-table-generator) (0.9.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from jinja2->truth-table-generator) (1.1.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from pandas->truth-table-generator) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from pandas->truth-table-generator) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\tanee\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)

WARNING: You are using pip version 20.3.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\tanee\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [22]:
import ttg
import pandas as pd

In [4]:
datas = [{"group":"group0","AGE":"ANY",'disease':"ANY","hasCough":"ANY","hasFever":"ANY","tired":"ANY","hasCloser":"False","Travel":"False"},{"group":"group1","AGE":"ANY",'disease':"ANY","hasCough":"ANY","hasFever":"False","tired":"ANY","hasCloser":"True","Travel":"True"},{"group":"group2","AGE":"ANY",'disease':"ANY","hasCough":"False","hasFever":"True","tired":"False","hasCloser":"True","Travel":"True"}]

In [23]:
datas = [{"group":"group0","AGE":"ANY",'disease':"ANY","hasCough":"ANY","hasFever":"ANY","tired":"ANY","hasCloser":"False","Travel":"False","Relation":[["t1","t2","t5"],["t3","t4"]]},{"group":"group2","AGE":"ANY",'disease':"ANY","hasCough":"False","hasFever":"True","tired":"False","hasCloser":"True","Travel":"True","T1":"True","T2":"True"}]

In [26]:
import numpy as np
collectAny = []
newDF = pd.DataFrame()
for data in datas:
    Any = []
    notYet = []
    relation = []
    for i in data:
#         print(i)
        if data[i] == 'ANY':
            Any.append(i)
        elif i != 'ANY' and i !=  "Relation" :
            notYet.append(i)
        elif i == "Relation":
            relation.append(data[i])
    truthTable = ttg.Truths(Any)
    df = truthTable.as_pandas()
    for arr in notYet:
        df[arr] = data[arr]

#     print(df)
    if len(relation) > 0:
        for i in range(len(relation)):
            for j in relation[i]:
                listDF = df.to_numpy()
                newList = []
                for idxK, k in enumerate(listDF):
#                     newList.append(k)
                    testList = []
                    for idx, val in enumerate(j):
                        print(idx)
#                         print(len(k)+idx)

#                             print(test)
#                             print(idxT)
#                         if(len(k) < len(k)+idx):
#                             k = np.append(k,"test")
#                         else:
#                              k = np.insert(k,len(k)+idx,"TESTFALSE")
#                         print(k)

#                         print(len(k)+idx)
#                         print(idx)
#                         print(val)

            

#                     print(j)
#                 for k in range(len(df)):
#                     df.loc[[k+1]
#                     print(df.loc[[k+1]])
#                 print(j)
#     newDF = newDF.append(df)

0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
2
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1

In [4]:
# 2 = 0-10  3= 11-20 4 = 21-30 5 = 31-40

In [5]:
collectAny = []
newDF = pd.DataFrame()
for data in datas:
    Any = []
    notYet = []
    for i in data:
        if data[i] == 'ANY':
            Any.append(i)
        elif i != 'ANY'  :
            notYet.append(i)
    truthTable = ttg.Truths(Any)
    df = truthTable.as_pandas()
    for arr in notYet:
        df[arr] = data[arr]
        print(arr)
    newDF = newDF.append(df)

#     newDF.append(df)
#     print(newDF)
#     print(Any)
#     print(notYet)

group
hasCloser
Travel
group
hasFever
hasCloser
Travel
group
hasCough
hasFever
tired
hasCloser
Travel

In [6]:
newDF

   AGE disease hasCough hasFever  tired   group hasCloser Travel
1    1       1        1        1      1  group0     False  False
2    1       1        1        1      0  group0     False  False
3    1       1        1        0      1  group0     False  False
4    1       1        1        0      0  group0     False  False
5    1       1        0        1      1  group0     False  False
6    1       1        0        1      0  group0     False  False
7    1       1        0        0      1  group0     False  False
8    1       1        0        0      0  group0     False  False
9    1       0        1        1      1  group0     False  False
10   1       0        1        1      0  group0     False  False
11   1       0        1        0      1  group0     False  False
12   1       0        1        0      0  group0     False  False
13   1       0        0        1      1  group0     False  False
14   1       0        0        1      0  group0     False  False
15   1       0        0        0      1  group0     False  False
16   1       0        0        0      0  group0     False  False
17   0       1        1        1      1  group0     False  False
18   0       1        1        1      0  group0     False  False
19   0       1        1        0      1  group0     False  False
20   0       1        1        0      0  group0     False  False
21   0       1        0        1      1  group0     False  False
22   0       1        0        1      0  group0     False  False
23   0       1        0        0      1  group0     False  False
24   0       1        0        0      0  group0     False  False
25   0       0        1        1      1  group0     False  False
26   0       0        1        1      0  group0     False  False
27   0       0        1        0      1  group0     False  False
28   0       0        1        0      0  group0     False  False
29   0       0        0        1      1  group0     False  False
30   0       0        0        1      0  group0     False  False
31   0       0        0        0      1  group0     False  False
32   0       0        0        0      0  group0     False  False
1    1       1        1    False      1  group1      True   True
2    1       1        1    False      0  group1      True   True
3    1       1        0    False      1  group1      True   True
4    1       1        0    False      0  group1      True   True
5    1       0        1    False      1  group1      True   True
6    1       0        1    False      0  group1      True   True
7    1       0        0    False      1  group1      True   True
8    1       0        0    False      0  group1      True   True
9    0       1        1    False      1  group1      True   True
10   0       1        1    False      0  group1      True   True
11   0       1        0    False      1  group1      True   True
12   0       1        0    False      0  group1      True   True
13   0       0        1    False      1  group1      True   True
14   0       0        1    False      0  group1      True   True
15   0       0        0    False      1  group1      True   True
16   0       0        0    False      0  group1      True   True
1    1       1    False     True  False  group2      True   True
2    1       0    False     True  False  group2      True   True
3    0       1    False     True  False  group2      True   True
4    0       0    False     True  False  group2      True   True

In [7]:
import warnings
warnings.filterwarnings("ignore")

In [8]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##

In [9]:
newDF = newDF.replace("True", 1)
newDF = newDF.replace("False", 0)
# newDF = newDF.replace("group0", 0)
# newDF = newDF.replace("group1", 1)
# newDF = newDF.replace("group2", 2)

In [10]:
colss = newDF.columns

In [11]:
newcol = []
for col in colss:
    if col != 'group':
        newcol.append(col)
newcol

['AGE', 'disease', 'hasCough', 'hasFever', 'tired', 'hasCloser', 'Travel']

In [13]:
col = ['AGE', 'disease', 'hasCough', 'hasFever', 'tired', 'hasCloser',
       'Travel']

In [14]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50, max_depth=None,
    min_samples_split=2, random_state=0)
XX =newDF[newcol]
yy = newDF['group']

In [15]:
model.fit(XX,yy)

RandomForestClassifier(n_estimators=50, random_state=0)

In [20]:
print("accuracy MLP train :{:.3f}".format(model.score(XX, yy)))

accuracy MLP train :1.000

In [16]:
import pickle
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [17]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict([[1,1,0,1,0,1,1]])
print(result)

['group2']

In [334]:
y_predict = model.predict([[1,1,0,1,0,1,1]])

In [335]:
y_predict[0]

'group2'

In [336]:

a = pd.crosstab(yy,y_predict)

In [254]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(XX, yy, test_size=0.3, random_state=0)

In [189]:
# 3.2) Standardize data
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()
sc.fit(X_train)

X_train_std = sc.transform(X_train)
X_test_std  = sc.transform(X_test)

In [190]:
# ############ Decision Tree ###############             

# 4) initialize Decision Tree model
from sklearn.tree import DecisionTreeClassifier, plot_tree
dt = DecisionTreeClassifier(criterion="entropy")
#
# criterion{“gini”, “entropy”}, default=”gini”. The function to measure the quality of a split.
# Supported criteria are “gini” for the Gini impurity and “entropy” for the information gain.

# 5) Train model
dt.fit(X_train_std, y_train)

DecisionTreeClassifier(criterion='entropy')

array([[ 1.58113883, -0.08703883, -1.15470054,  0.40824829],
       [ 1.58113883,  2.35004836,  0.8660254 , -2.44948974],
       [ 1.58113883, -0.69631062,  0.8660254 ,  0.40824829]])

In [18]:
# 6) predict

y_predict = dt.predict(X_test_std)

# Accuracy
# print("training accuracy: ", dt.score(X_train_std,y_train)) 
# print("testing accuracy: ", dt.score(X_test_std,y_test))         

print("accuracy DT train: {:.3f}".format(dt.score(X_train_std, y_train)))
print("accuracy DT test : {:.3f}".format(dt.score(X_test_std, y_test)))

plt.figure(figsize=(12, 10))
plot_tree(dt, filled=True)
plt.show()

NameError: name 'dt' is not defined

In [368]:
truthTable = ttg.Truths(['a','b'])
df2 = truthTable.as_pandas()

In [369]:
df2

   a  b
1  1  1
2  1  0
3  0  1
4  0  0

In [373]:
arr = [1,2,3,4]

In [374]:
df2["aaa"] = arr

In [375]:
df2

   a  b  aaa
1  1  1    1
2  1  0    2
3  0  1    3
4  0  0    4